<div class="landing">
  <div class="landing-decoration"></div>
  <div class="landing-info">
    <h2 class="landing-info-pretitle roboto">Добро пожаловать</h2>
    <h1 class="landing-info-title roboto">ВКалуге</h1>
    <div class="tab-switch">
      <p class="tab-switch-button login-register-form-trigger" routerLinkActive="active" routerLink="login">Войти</p>
      <p class="tab-switch-button login-register-form-trigger" routerLinkActive="active" routerLink="registration">Регистрация</p>
    </div>
  </div>
  <div class="landing-form">
    <router-outlet></router-outlet>
  </div>
</div>

<!--роутер для слоя-->


